---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Astro width Notion">
	<main>
    <h1><span>Astro</span> × <span>NotionAPI</span></h1>
   <ul>
    <li><a href="">ニュース1</a></li>
    <li><a href="">ニュース2</a></li>
    <li><a href="">ニュース3</a></li>
   </ul>
   <a href="/news">もっとみる...</a>
	</main>
</Layout>

