---
import Layout from '../layouts/Layout.astro';
---

<Layout title="news">
<ul>
  <li><a href="">ニュース1</a></li>
  <li><a href="">ニュース2</a></li>
  <li><a href="">ニュース3</a></li>
  <li><a href="">ニュース1</a></li>
  <li><a href="">ニュース2</a></li>
  <li><a href="">ニュース3</a></li>
  <li><a href="">ニュース1</a></li>
  <li><a href="">ニュース2</a></li>
  <li><a href="">ニュース3</a></li>
  <li><a href="">ニュース1</a></li>
  <li><a href="">ニュース2</a></li>
  <li><a href="">ニュース3</a></li>
</ul>
</Layout>
